#about {
    .container {
        margin: 50px 0;

        .section-title {
            margin-bottom: 40px;
        }

        &:first-child {
            margin: 0 !important; 

            .section-title {
                margin-bottom: 15px !important;
            }
        }

        &.about-me-container {
            .about-me {
                display: flex;
                flex-direction: row;
    
                gap: 0 30px;
    
                .my-photo-container {
                    &::after {
                        content: url('/assets/images/my-photo.jpg');
                    }
                }
    
                .my-description-container {
                    .my-data {
                        ul {
                            padding: 0;
                            list-style-type: none;
    
                            li {
                                margin: 3px 0;
                            }
                        }
                    }
                }
            }
        }

        &.languages-container {
            .languages-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px 25px;

                .language-wrapper {
                    .language-title {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 7px;

                        .language-name {
                            color: $color-font-primary;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-wrap {
                        height: 10px;
                        width: 100%;
    
                        background-color: rgba(255, 255, 255, 0.2);
    
                        .progress-bar {
                            height: 10px;
    
                            background-color: $color-border;
                        }
                    }
                }
            }
        }

        &.tools-container,
        &.libraries-container {
            .tools-content,
            .libraries-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .tool,
                .library {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: calc(10% - 10px);
                    text-align: center;
                    padding-top: 15px;

                    transition: $trans;
                    background-color: $color-background-icon;

                    &:hover {
                        background-color: $color-background-icon-hover !important;
                    }

                    h3 {
                        font-size: 13px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 32px;
                        max-width: 32px;
                        height: 32px;
                        max-height: 32px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }

        &.interests-container {
            .interests-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .interest {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    width: calc(20% - 8px);
                    height: 50px;

                    transition: $trans;
                    background-color: $color-background-icon;

                    &:hover {
                        background-color: $color-background-icon-hover !important;
                    }

                    h3 {
                        font-size: 13px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 24px;
                        max-width: 24px;
                        height: 24px;
                        max-height: 24px;
                        margin: 0 10px;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }
        }
    }
}