#about {
    .container {
        margin: 70px 0;

        .section-title {
            margin-bottom: 40px;
        }

        &:first-child {
            margin: 0 0 70px !important; 

            .section-title {
                margin-bottom: 20px !important;
            }
        }

        &.about-me-container {
            .about-me {
                display: flex;
                flex-direction: row;

                @include max-sm {
                    flex-direction: column !important;
                }
    
                gap: 0 30px;
    
                .my-photo-container {
                    margin-top: 10px;

                    @include max-xs {
                        display: flex;
                        justify-content: center;
                    }
                }
    
                .my-description-container {
                    @include max-sm {
                        margin-top: 30px;
                    }
                    
                    h3 {
                        font-size: 18px;
                        margin-top: 0;
                        text-transform: uppercase;
                    }
                    p {
                        font-size: 15px;
                    }
                    .my-data {
                        ul {
                            margin: 30px 0;
                            padding: 0;
                            list-style-type: none;
    
                            li {
                                margin: 6px 0;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        &.languages-container {
            .languages-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px 25px;

                @include max-md {
                    grid-template-columns: 1fr !important;
                }

                .language-wrapper {
                    .language-title {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 7px;

                        .language-name {
                            color: $color-font-primary;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-wrap {
                        height: 10px;
                        width: 100%;
    
                        background-color: rgba(255, 255, 255, 0.2);
    
                        .progress-bar {
                            height: 10px;
                            width: 0;
                            background-color: $color-red-primary;
                        }
                    }
                }
            }
        }

        &.tools-container,
        &.libraries-container {
            .tools-content,
            .libraries-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .tool,
                .library {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(10% - 9px);
                    text-align: center;
                    padding-top: 15px;

                    @include max-sm {
                        width: calc(33.3% - 9px) !important;
                    }

                    @include range-md {
                        width: calc(20% - 9px);
                    }

                    @include range-lg {
                        width: calc(20% - 9px);
                    }

                    @include range-xl {
                        width: calc(12.5% - 9px);
                    }

                    transition: $trans;
                    background-color: $color-background-icon;

                    &:hover {
                        background-color: $color-background-icon-hover !important;
                    }

                    h3 {
                        font-size: 13px;
                    }

                    .skill-icon {
                        display: block;
                        max-width: $about-icon-size;
                    }

                    &#tailwind {
                        .skill-icon {
                            transform: translateY(5px);
                        }
                    }
                }
            }
        }

        &.interests-container {
            .interests-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .interest {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    width: calc(20% - 8px);
                    height: 60px;

                    @include max-md {
                        width: calc(50% - 9px) !important;
                    }

                    @include range-lg {
                        width: calc(33.3% - 9px);
                    }

                    @include range-xl {
                        width: calc(25% - 9px);
                    }

                    transition: $trans;
                    background-color: $color-background-icon;

                    &:hover {
                        background-color: $color-background-icon-hover !important;
                    }

                    h3 {
                        font-size: 13px;
                    }

                    .interest-icon {
                        display: block;
                        max-width: $about-icon-size;
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}