#portfolio {
    .section-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h2 {
            font-size: 20px;
            padding: 0 30px 20px;
            border-bottom: 1px solid $color-red-primary;
            color: $color-font-primary;
            &::after {
                display: none !important;
            }
        }

        .portfolio-buttons {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            gap: 25px;
      
            .portfolio-btn {
              width: max-content;
              padding: 10px 20px 10px 25px;
      
              background-color: $color-background-black;
              color: $color-font-primary;
              border: 0;
      
              cursor: pointer;
              font-size: 11px !important;
              text-transform: uppercase;
              letter-spacing: 3px;
              transition: $trans;

              &.active {
                background-color: $color-form-btn;
              }

              &:hover {
                background-color: $color-form-btn;
              }
            }
        }
    }

    .projects-content {
        margin-top: 60px;
        .projects-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            margin: 40px 0 90px;
            .project {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                height: 150px;
                padding: 20px;

                * {
                    cursor: pointer;
                    transition: $trans;
                }

                &:hover {
                    * {
                        .project-name,
                        .project-rights {
                            display: none;
                        }
                        img {
                            opacity: 1 !important;
                        }
                    }
                }

                .project-label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 99;
                    gap: 10px;

                    .project-name {
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                    .project-rights {
                        font-size: 15px;
                    }
                }
                .project-image-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        opacity: 0.3;
                        transition: $trans;
                    }
                }
            }
        }
    }
}