.resume {
  &-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include max-xl {
      margin: 0 30px;
    }
    
    .resume-buttons {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 30px;

      @include max-sm {
        gap: 20px;
      }

      .resume-btn {
        width: 150px;
        padding: 10px;

        @include max-sm {
          width: max-content;
          font-size: 10px;
        }

        background-color: $color-background-black;
        color: $color-font-primary;
        border: 0;
        border-bottom: 1px solid $color-background-black;

        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: $trans;

        &.work-btn {
          &:hover {
            border-bottom: 1px solid $color-red-primary;
          }
  
          &.active {
            border-bottom: 1px solid $color-red-primary;
          }
        }

        &.educ-btn {
          &:hover {
            border-bottom: 1px solid  $color-orange-primary;
          }
  
          &.active {
            border-bottom: 1px solid  $color-orange-primary;
          }
        }

        &.vol-btn {
          &:hover {
            border-bottom: 1px solid  $color-purple-primary;
          }
  
          &.active {
            border-bottom: 1px solid  $color-purple-primary;
          }
        }
      }
    }

    .resume-trees {
      display: flex;
      flex-direction: row;
      position: relative;

      min-height: 100%;

      transition: all 0.15s ease-in-out 0s;

      @include max-lg {
        align-items: flex-start;
        margin-left: 10px;
      }

      .tree-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        width: 100%;
        margin-top: 110px;
        transition: $trans;

        opacity: 0;

        transition: all 0.15s ease-in-out 0s;

        @include max-lg {
          position: relative !important;
          align-items: flex-start !important;
          margin-top: 40px !important;

          display: none !important;

          &.visible {
            display: flex !important;
          }

          &.left-tree,
          &.right-tree {
            left: 0 !important;
          }
        }

        &.left-tree {
          left: -$resume-tree-offset;
        }
        &.right-tree {
          left: $resume-tree-offset;
        }
        
        &.visible {
          opacity: 1 !important;
          z-index: 99;

          &.was-left {
            left: 0 !important;
          }
          &.was-right {
            left: 0 !important;
          }
        }
  
        .tree-wrapper {
          &:last-child {
            .tree {
              &:last-child {
                .tree-helper {
                  @include max-lg {
                    &:last-child {
                      &::after {
                        display: none !important;
                      }
                    }
                  }
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
          .tree {
            position: relative;
            margin-bottom: $resume-work-gap;
            transition: $trans;

            @include max-xs {
              * {
                max-width: 250px !important;
              }
            }

            @include range-sm {
              li {
                max-width: max-content !important;
              }
            }

            @include max-lg {
              margin-bottom: 30px !important;
            }
  
            &.left {
              @include max-lg {
                .tree-infobox {
                  position: relative !important;
                  top: -21px !important;
                  right: 0 !important;
                  left: $resume-infobox-gap;
                  text-align: left !important;
                  align-items: flex-start !important;
                }
                .tree-description {
                  display: flex !important;
                  position: relative !important;
                  left: calc($resume-infobox-gap + 10px);
                  right: 0 !important;

                  .tree-description-wrapper {
                    max-height: max-content !important;
                  }
                }
                .tree-position {
                  pointer-events: none;
                  padding-right: 0 !important;
                  padding-left: $resume-infobox-gap;
                  transform: translateX(-$resume-infobox-gap) !important;
                }
              }

              .tree-infobox {
                right: $resume-infobox-gap;
                text-align: right;
                align-items: flex-end;
              }
  
              .tree-description {
                left: calc($resume-infobox-gap + 10px);
              }
              .tree-position {
                padding-right: $resume-infobox-gap;
                transform: translateX($resume-infobox-gap);
              }
            }
            &.right {
              @include max-lg {
                .tree-infobox {
                  position: relative !important;
                  top: -21px !important;
                  right: 0 !important;
                  left: $resume-infobox-gap;
                  text-align: left !important;
                  align-items: flex-start !important;
                }
                .tree-description {
                  display: flex !important;
                  position: relative !important;
                  left: calc($resume-infobox-gap + 10px);
                  right: 0 !important;

                  .tree-description-wrapper {
                    max-height: max-content !important;
                  }
                }
                .tree-position {
                  pointer-events: none;
                  padding-right: 0 !important;
                  padding-left: $resume-infobox-gap;
                  transform: translateX(-$resume-infobox-gap) !important;
                }
              }

              .tree-infobox {
                left: $resume-infobox-gap;
                text-align: left;
                align-items: flex-start;
              }
  
              .tree-description {
                right: $resume-infobox-gap;
              }
              
              .tree-position {
                padding-left: $resume-infobox-gap;
                transform: translateX(-$resume-infobox-gap);
              }
            }
  
            .tree-helper {
              display: block;
              width: 21px;
              height: 21px;
              border-radius: 100%;

              &.static {
                &::after {
                  transition: none !important;
                }
              }

              @include max-lg {
                pointer-events: none;
              }
  
              &.work-helper {
                cursor: pointer;
                background-color: $color-red-primary;
                &::after {
                  background-color: $color-red-primary;
                }
              }
              &.edu-helper {
                background-color: $color-orange-primary;
                &::after {
                  background-color: $color-orange-primary;
                }
              }
              &.vol-helper {
                background-color: $color-purple-primary;
                &::after {
                  background-color: $color-purple-primary;
                }
              }
  
              &::after {
                content: '';
                display: block;
                position: relative;
                top: 100%;
                left: calc(50% - 0.5px);
                
                width: 1px;
                height: var(--tree-helper-height, $resume-work-gap);

                @include max-lg {
                  height: var(--tree-helper-height) !important;
                }
  
                pointer-events: none;
                transition: $trans;
              }
            }
            .tree-infobox {
              display: flex;
              flex-direction: column;
  
              position: absolute;
              top: 0;
  
              width: max-content;
              gap: 10px 0;

              .tree-position {
                width: max-content;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                text-transform: uppercase;
              }
  
              .work-position {
                color: $color-red-primary;
              }
              .vol-position {
                color: $color-purple-primary;
              }
  
              .tree-company,
              .edu-field {
                width: 100%;
                font-size: 15px;
                color: $color-font-primary;
              }
  
              .edu-data-wrap {
                display: flex;
                flex-direction: row;
                gap: 10px;
              }
  
              .tree-period,
              .edu-period,
              .edu-status {
                display: flex;
                justify-content: center;
                align-items: center;
  
                width: max-content;
                padding: 8px 10px;
                margin-top: 8px;
  
                background-color: $color-tree-period;
                font-size: 15px;
                text-transform: uppercase;
              }
  
              .edu-school {
                width: 100%;
                font-size: 18px;
                color:  $color-orange-primary;
                text-transform: uppercase;
              }
            }
            .tree-description {
              display: none;
              position: absolute;
              height: max-content;
              top: 0;
              margin: 0;
              padding: 0;
              z-index: 99;
              transition: $trans;
  
              &-wrapper {
                margin-bottom: 30px;
  
                > h3 {
                  margin-top: 0;
                }
  
                h3 {
                  text-transform: uppercase;
                }
    
                li {
                  width: max-content;
                  max-width: 400px;
                  margin-left: 16px;

                  @include max-sm {
                    max-width: 300px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}