.resume {
  &-container {
    display: flex;
    flex-direction: column;
    
    .resume-buttons {
      display: flex;
      margin-top: 50px;

      .resume-btn {
        position: absolute;
        width: max-content;
        padding: 10px;

        background-color: $color-background-black;
        color: $color-font-primary;
        border: 0;
        border-color: $color-border;

        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: $trans;

        &.work-btn {
          right: calc(50% + $resume-buttons-gap);
        }
        &.educ-btn {
          left: calc(50% + $resume-buttons-gap);
        }

        &:hover {
          border-bottom: 1px solid $color-border;
        }

        &.active {
          border-bottom: 1px solid $color-border;
          background-color: $color-background-black;
        }
      }
    }

    .work-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      margin-top: 100px;

      .work-wrapper {
        &:last-child {
          .work {
            &:last-child {
              .work-helper {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
        .work {
          position: relative;
          margin-bottom: $resume-work-gap;
          transition: $trans;

          &.even {
            .work-infobox {
              right: $resume-infobox-gap;
              text-align: right;
              align-items: flex-end;
            }
            .work-description {
              left: calc($resume-infobox-gap + 10px);
            }
          }
          &.odd {
            .work-infobox {
              left: $resume-infobox-gap;
              text-align: left;
              align-items: flex-start;
            }
            .work-description {
              right: $resume-infobox-gap;
            }
          }

          .work-helper {
            display: block;
            width: 20px;
            height: 20px;
            background-color: $color-border;
            border-radius: 100%;

            cursor: pointer;

            &::after {
              content: '';
              display: block;
              position: relative;
              top: 100%;
              left: calc(50% - 1px);
              
              width: 1px;
              height: var(--work-helper-height, $resume-work-gap);

              pointer-events: none;
              background-color: $color-border;
              transition: $trans;
            }
          }
          .work-infobox {
            display: flex;
            flex-direction: column;

            position: absolute;
            top: 0;

            width: max-content;
            gap: 10px 0;

            .work-position {
              width: 100%;
              font-size: 18px;
              color: $color-border;
              text-transform: uppercase;
            }
            .work-company {
              width: 100%;
              font-size: 15px;
              color: $color-font-primary;
            }
            .work-period {
              display: flex;
              justify-content: center;
              align-items: center;

              width: max-content;
              padding: 8px 10px;
              margin-top: 8px;

              background-color: $color-work-period;
              font-size: 15px;
            }
          }
          .work-description {
            display: none;
            position: absolute;
            height: max-content;
            top: 0;
            margin: 0;
            padding: 0;
            transition: $trans;
            z-index: 99;

            &-wrapper {
              margin-bottom: 30px;

              > h3 {
                margin-top: 0;
              }

              h3 {
                text-transform: uppercase;
              }
  
              li {
                width: max-content;
                max-width: 400px;
                margin-left: 16px;
              }
            }
          }
        }
      }
    }
  }
}