/**
 * SOCIALS
 */

 .github {
    &::before {
        background-image: url('/assets/icons/socials/github.png');
    }
 }
 .linked-in {
    &::before {
        background-image: url('/assets/icons/socials/linkedin.png');
    }
 }


/**
 * ABOUT ME: LIBRARIES
 */

.library {
    &#sass {
        &::before {
            background-image: url('/assets/icons/libraries/sass.png');
        }
    }
    &#tailwind {
        &::before {
            background-image: url('/assets/icons/libraries/tailwind.png');
        }
    }
    &#webpack {
        &::before {
            background-image: url('/assets/icons/libraries/webpack.svg');
        }
    }
    &#jquery {
        &::before {
            background-image: url('/assets/icons/libraries/jquery.svg');
        }
    }
    &#vite {
        &::before {
            background-image: url('/assets/icons/libraries/vite.png');
        }
    }
}


/**
 * ABOUT ME: TOOLS
 */

.tool {
    &#vscode {
        &::before {
            background-image: url('/assets/icons/tools/vscode.png');
        }
    }
    &#webstorm {
        &::before {
            background-image: url('/assets/icons/tools/webstorm.svg');
        }
    }
    &#unity {
        &::before {
            background-image: url('/assets/icons/tools/unity.svg');
        }
    }
    &#chatgpt {
        &::before {
            background-image: url('/assets/icons/tools/gpt.svg');
        }
    }
    &#shoptet {
        &::before {
            background-image: url('/assets/icons/tools/shoptet.png');
        }
    }
    &#github {
        &::before {
            background-image: url('/assets/icons/tools/github.png');
        }
    }
    &#git {
        &::before {
            background-image: url('/assets/icons/tools/git.svg');
        }
    }
    &#figma {
        &::before {
            background-image: url('/assets/icons/tools/figma.png');
        }
    }
    &#docker {
        &::before {
            background-image: url('/assets/icons/tools/docker.png');
        }
    }
    &#xampp {
        &::before {
            background-image: url('/assets/icons/tools/xampp.png');
        }
    }
    &#filezilla {
        &::before {
            background-image: url('/assets/icons/tools/filezilla.png');
        }
    }
    &#jira {
        &::before {
            background-image: url('/assets/icons/tools/jira.svg');
        }
    }
    &#salesforce {
        &::before {
            background-image: url('/assets/icons/tools/salesforce.png');
        }
    }
}


/**
 * ABOUT ME: INTERESTS
 */

.interest {
    &#int-fire {
        &::before {
            background-image: url('/assets/icons/interests/fire.png');
        }
    }
    &#int-harmred {
        &::before {
            background-image: url('/assets/icons/interests/pills.png');
        }
    }
    &#int-festivals {
        &::before {
            background-image: url('/assets/icons/interests/festival.png');
        }
    }
    &#int-travel {
        &::before {
            background-image: url('/assets/icons/interests/travel.png');
        }
    }
    &#int-games {
        &::before {
            background-image: url('/assets/icons/interests/games.png');
        }
    }
    &#int-computers {
        &::before {
            background-image: url('/assets/icons/interests/computer.svg');
        }
    }
    &#int-science {
        &::before {
            background-image: url('/assets/icons/interests/science.png');
        }
    }
    &#int-animals {
        &::before {
            background-image: url('/assets/icons/interests/shiba.svg');
        }
    }
    &#int-music {
        &::before {
            background-image: url('/assets/icons/interests/music.png');
        }
    }
    &#int-gf {
        &::before {
            background-image: url('/assets/icons/interests/bat.png');
        }
    }
}


/**
 * CONTACT
 */

 .contact-info {
    &#contact-address {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/address.svg');
            }
        }
    }
    &#contact-socials {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/share.png');
            }
        }
    }
    &#contact-email {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/mail.svg');
            }
        }
    }
    &#contact-phone {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/phone.svg');
            }
        }
    }
 }