/**
 * ABOUT ME: LIBRARIES
 */

.library {
    &#sass {
        &::before {
            background-image: url('/assets/icons/libraries/sass.png');
        }
    }
    &#jquery {
        &::before {
            background-image: url('/assets/icons/libraries/jquery.svg');
        }
    }
    &#webpack {
        &::before {
            background-image: url('/assets/icons/libraries/webpack.svg');
        }
    }
}


/**
 * ABOUT ME: TOOLS
 */

.tool {
    &#vscode {
        &::before {
            background-image: url('/assets/icons/skills/vscode.png');
        }
    }
    &#webstorm {
        &::before {
            background-image: url('/assets/icons/skills/webstorm.svg');
        }
    }
    &#unity {
        &::before {
            background-image: url('/assets/icons/skills/unity.svg');
        }
    }
    &#shoptet {
        &::before {
            background-image: url('/assets/icons/skills/shoptet.png');
        }
    }
    &#figma {
        &::before {
            background-image: url('/assets/icons/skills/figma.svg');
        }
    }
    &#docker {
        &::before {
            background-image: url('/assets/icons/skills/docker.png');
        }
    }
    &#xampp {
        &::before {
            background-image: url('/assets/icons/skills/xampp.png');
        }
    }
    &#filezilla {
        &::before {
            background-image: url('/assets/icons/skills/filezilla.png');
        }
    }
}


/**
 * ABOUT ME: INTERESTS
 */

.interest {
    &#int-fire {
        &::before {
            background-image: url('/assets/icons/interests/fire.png');
        }
    }
    &#int-harmred {
        &::before {
            background-image: url('/assets/icons/interests/pills.png');
        }
    }
    &#int-festivals {
        &::before {
            background-image: url('/assets/icons/interests/festival.svg');
        }
    }
    &#int-travel {
        &::before {
            background-image: url('/assets/icons/interests/travel.png');
        }
    }
    &#int-games {
        &::before {
            background-image: url('/assets/icons/interests/games.svg');
        }
    }
    &#int-computers {
        &::before {
            background-image: url('/assets/icons/interests/computer.svg');
        }
    }
    &#int-science {
        &::before {
            background-image: url('/assets/icons/interests/science.png');
        }
    }
    &#int-animals {
        &::before {
            background-image: url('/assets/icons/interests/shiba.svg');
        }
    }
    &#int-music {
        &::before {
            background-image: url('/assets/icons/interests/music.svg');
        }
    }
    &#int-gf {
        &::before {
            background-image: url('/assets/icons/interests/bat.png');
        }
    }
}

/**
 * CONTACT
 */

 .contact-info {
    &#contact-address {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/address.svg');
            }
        }
    }
    &#contact-socials {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/share.png');
            }
        }
    }
    &#contact-email {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/mail.svg');
            }
        }
    }
    &#contact-phone {
        .contact-icon {
            &::before {
                background-image: url('/assets/icons/contact/phone.svg');
            }
        }
    }
 }