$color-font-primary: #FFFFFF;
$color-font-secondary: #aaaaaa;

$color-background: #161616;
$color-background-black: #000000;
$color-background-lightdark: #000000E6;

$color-background-icon: #161616;
$color-background-icon-hover: #2c2c2c;

$color-work-period: #222222;

$color-border: #df0707;
$color-purple-primary: #ab0beb;


$header-top-height: 80px;

$resume-buttons-gap: 40px;
$resume-work-gap: 140px;
$resume-infobox-gap: 35px;
$resume-tree-offset: 5%;


$trans: all 0.3s ease-in-out 0s;