$color-font-primary: #FFFFFF;
$color-font-secondary: #aaaaaa;

$color-background: #161616;
$color-background-black: #000000;
$color-background-lightdark: #000000E6;

$color-border: #df0707;


$header-top-height: 80px;


$trans: all 0.3s ease-in-out 0s;