section {
    flex: 1;
    position: relative;
    opacity: 0;

    max-width: 1460px;

    transition: ease-in-out 0.4s;

    top: calc($header-top-height + 80px);
    margin: 0 220px;
    padding: 20px;

    background-color: $color-background-black;

    &.shown {
        opacity: 1;
        top: calc($header-top-height + 20px);
    }

    h2 {
        position: relative;

        color: $color-font-secondary;
        text-transform: uppercase;

        font-size: 14px;
        font-weight: 600;
        line-height: 1px;
        letter-spacing: 2px;

        &::after {
            content: "";
            display: inline-block;

            position: absolute;
            left: 0;
            bottom: -15px;

            width: 250px;
            height: 1px;

            background: $color-border;
        }
    }
}