.nav-open {
	.nav-helper {
		&::before {
			background-image: none !important;
			content: '×' !important;
			position: relative;
			font-size: 42px;
			top: -15px !important;
		}
	}
}

.header-top {
	width: 100% !important;

	height: $header-top-height !important;
	position: fixed !important;
	justify-self: center;
	left: 0;
	top: 0;
	right: 0;
	margin: auto !important;
	background: $color-background-lightdark;

	&::before {
		content: '';
		height: $header-top-height !important;
		position: absolute;
		width: 9999px;
		margin-left: -4999px;
		background: $color-background-lightdark;
	}

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;
		justify-content: space-between;
		margin: auto !important;
		max-width: 1520px !important;
	
		.my-name {
			font-size: 28px !important;
			margin-left: 30px !important;

			@include max-md {
				font-size: 22px !important;
			}
		}
		.my-title {
			display: none !important;
		}
		.social-links {
			display: none !important;
		}
		nav {
			margin-right: 30px;

			&.mobile {
				transition: $trans;

				.nav-helper {
					z-index: 999;
					display: block !important;
					position: absolute;
					text-transform: uppercase;
					color: $color-font-primary;
					font-size: 20px;
					cursor: pointer;

					min-width: 20px;
					min-height: 20px;

					top: calc(50% - 12px);
					right: 30px;

					&::before {
						content: '';
						display: block;
						background-image: url('/assets/icons/hamburger.png');
                        width: $hamburger-icon-size;
                        max-width: $hamburger-icon-size;
                        height: $hamburger-icon-size;
                        max-height: $hamburger-icon-size;
                        background-size: cover;
                        background-position: center;
					}
				}

				ul {
					width: 100%;
					transition: $trans;
					z-index: 800;

					flex-direction: column !important;
					position: absolute;
					padding: 40px 0 !important;
					margin: 0 !important;
					top: 80px;
					left: 1000px;

					background-color: $color-background-black;
					border-bottom: 1px solid $color-font-primary;

					&.visible {
						left: 0 !important;
					}

					li {
						display: flex;
						justify-content: center;
						
						a {
							font-size: 16px !important;
							text-align: right !important;
						}

						&::before {
							display: none;
						}
					}
				}
			}
		}
	}
}