.header-top {
	width: 100% !important;

	height: $header-top-height !important;
	position: fixed !important;
	justify-self: center;
	z-index: 10;
	left: 0;
	top: 0;
	right: 0;
	margin: auto !important;
	background: $color-background-lightdark;

	&::before {
		content: '';
		height: $header-top-height !important;
		position: absolute;
		width: 9999px;
		margin-left: -4999px;
		background: $color-background-lightdark;
	}

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;
		justify-content: space-between;
		margin: auto !important;
		max-width: 1520px !important;
	
		.my-name {
			font-size: 28px !important;
			margin-left: 30px !important;
		}
		.my-title {
			display: none !important;
		}
		.social-links {
			display: none !important;
		}
		nav {
			margin-right: 30px;
		}
	}
}